body {
    background:rgb(70,143,236);
    font:normal 18pt Arial;
}

header {
    color:white;
    text-align:center;
}

section {
    background:white;
    padding:15px;
    border-radius:10px;
    width:300px;
    margin:auto;
    box-shadow:3px -3px 5px black;
}

footer {
    color:white;
    text-align:center;
    font-style:italic;
}